{
  "extends": [
    "stylelint-config-standard",
    "stylelint-order-config-standard"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "indentation": [
      "tab",
      4
    ],
    "color-hex-case": "upper"
  }
}