.tag {
    display: inline-block;

    box-sizing: border-box;
    margin-right: 5px;
    padding: 5px 10px;

    border-radius: 20px;
}

.small {
    font-size: 12px;
    line-height: 12px;
}

.medium {
    font-size: 14px;
    line-height: 14px;
}

.large {
    font-size: 16px;
    line-height: 16px;
}

.ghost {
    border: 1px solid var(--grey-light);
}

.danger {
    color: var(--white);
    background: var(--red);

    font-weight: bold;
}

.primary {
    color: var(--white);
    background: #B3C0D9;
}
